<h2>Bitte eine CSV File hochladen</h2>

<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv" />
<table class="minimalistBlack" *ngIf="records.length > 0">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let record of records;let i = index;">
        <td> <span>{{record.id}}</span> </td>
        <td> <span>{{record.Name}}</span> </td>
        <td> <span>{{record.Age}}</span> </td>
        <td> <span>{{record.City}}</span> </td>
    </tr>
    </tbody>
</table>
